<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80c684">  <td>17/09/11 11:07:53</td>   <td>0</td> <td title="&gt;&gt;BrowserInitialization.loadObjectsPropertiesFromExcel()[pri:0, instance:com.dell.delta_uat_automation.testcases.TC_11_APJ_POC_App_Test@1996cd68]">&gt;&gt;loadObjectsPropertiesFromExcel</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1599771323</td>   <td></td> </tr>
<tr bgcolor="80c684">  <td>17/09/11 11:07:54</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserInitialization.setBrowser()[pri:0, instance:com.dell.delta_uat_automation.testcases.TC_11_APJ_POC_App_Test@1996cd68]">&gt;&gt;setBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1599771323</td>   <td></td> </tr>
<tr bgcolor="a69ea2">  <td>17/09/11 11:08:06</td>   <td>12715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_11_APJ_POC_App_Test.validate_TC_11_APJ_POC_App_Test()[pri:0, instance:com.dell.delta_uat_automation.testcases.TC_11_APJ_POC_App_Test@1996cd68]">validate_TC_11_APJ_POC_App_Test</td> 
  <td>main@1599771323</td>   <td></td> </tr>
<tr bgcolor="80c684">  <td>17/09/11 11:08:10</td>   <td>16176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserInitialization.activitiesAfterExecutingTC(org.testng.ITestResult)[pri:0, instance:com.dell.delta_uat_automation.testcases.TC_11_APJ_POC_App_Test@1996cd68]">&lt;&lt;activitiesAfterExecutingTC</td> 
<td>&nbsp;</td>  <td>main@1599771323</td>   <td></td> </tr>
<tr bgcolor="80c684">  <td>17/09/11 11:08:10</td>   <td>16203</td> <td title="&lt;&lt;BrowserInitialization.terminateSettings()[pri:0, instance:com.dell.delta_uat_automation.testcases.TC_11_APJ_POC_App_Test@1996cd68]">&lt;&lt;terminateSettings</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1599771323</td>   <td></td> </tr>
</table>
